<section id="about-the-game" class="about-block">
  <div class="container about-wrapper">
    <img
      class="img-title"
      src="./img/advantages/mob_title_flag.png"
      alt="title flag"
    />
    <h2 class="section-title about-title">About the Game</h2>

    <div class="gallery-wrapper">
      <div class="slider-content">
        <img
          class="slider-image"
          src="./img/about-the-game/slide-1.png"
          alt="enjoy game"
        />
        <p class="slider-text">
          Players will enjoy solving fun puzzles, customizing their town, and
          uncovering secrets hidden in every corner.
        </p>
      </div>

      <div class="slider-content">
        <img
          class="slider-image"
          src="./img/about-the-game/slide-2.png"
          alt="Welcome to Fluffy Town"
        />
        <p class="slider-text">
          Welcome to Fluffy Town: Boom Story – a delightful match-3 puzzle
          adventure where you help adorable fluffy characters rebuild their
          magical town!
        </p>
      </div>
      <div class="slider-content">
        <img
          class="slider-image"
          src="./img/about-the-game/slide-3.png"
          alt="Match tiles"
        />
        <p class="slider-text">
          Match tiles, complete quests, and unlock charming locations as you
          progress through a heartwarming story of friendship and teamwork.
        </p>
      </div>

      <div class="gallery-navigation">
        <button class="slider-button prev">
          <img src="./img/about-the-game/Vector-left.png" alt="Vector left" />
        </button>
        <div class="indicators">
          <span class="indicator" data-slide="0"></span>
          <span class="indicator active" data-slide="1"></span>
          <span class="indicator" data-slide="2"></span>
        </div>
        <button class="slider-button next">
          <img src="./img/about-the-game/Vector-right.png" alt="Vector right" />
        </button>
      </div>
    </div>
  </div>
  <img
    class="bottom-frame about-frame"
    src="./img/bottom-frame.png"
    alt="grass"
  />
</section>
