<section id="advantages" class="advantages">
  <div class="container advantages-wrapper">
    <img
      class="img-title"
      src="./img/advantages/mob_title_flag.png"
      alt="title flag"
    />
    <h2 class="section-title advantages-title">Advantages</h2>

    <ul class="advantages-list">
      <li class="adv-item">
        <div class="item-titel-wrapper">
          <h3 class="adv-item-title">Charming Characters</h3>
        </div>
        <img src="./img/advantages/fluffy-town-mob.jpg" alt="fluffy town" />
        <div class="adv-item-text-wrapper">
          <p>
            Meet fluffy residents with<br />
            unique personalities and stories.
          </p>
        </div>
      </li>

      <li class="adv-item">
        <div class="item-titel-wrapper">
          <h3 class="adv-item-title">Exciting Match-3 Gameplay</h3>
        </div>
        <img
          src="./img/advantages/Exciting-Match-mob.jpg"
          alt="Exciting Match"
        />
        <div class="adv-item-text-wrapper">
          <p>
            Solve puzzles with dynamic<br />
            mechanics and magical boosters.
          </p>
        </div>
      </li>

      <li class="adv-item">
        <div class="item-titel-wrapper">
          <h3 class="adv-item-title">Town Customization</h3>
        </div>
        <img
          src="./img/advantages/Town-Cust-mob.jpg"
          alt="Town Customization"
        />
        <div class="adv-item-text-wrapper">
          <p>
            Design and decorate your<br />
            fluffy town to make it uniquely yours.
          </p>
        </div>
      </li>

      <li class="adv-item">
        <div class="item-titel-wrapper">
          <h3 class="adv-item-title">Engaging Storyline</h3>
        </div>
        <img
          src="./img/advantages/Engaging-Storyline-mob.jpg"
          alt="Engaging Storyline"
        />
        <div class="adv-item-text-wrapper">
          <p>
            Follow the captivating tale of<br />
            teamwork and community spirit.
          </p>
        </div>
      </li>

      <li class="adv-item">
        <div class="item-titel-wrapper">
          <h3 class="adv-item-title">Unlockable Locations</h3>
        </div>
        <img
          src="./img/advantages/Locations-mob.jpg"
          alt="Unlockable Locations"
        />
        <div class="adv-item-text-wrapper">
          <p>
            Explore new areas filled with<br />
            surprises and special rewards.
          </p>
        </div>
      </li>
    </ul>
    <div class="adv-people-img-wrp">
      <img class="adv-people-img" src="./img/advantages/lady.png" alt="lady" />
      <img
        class="adv-people-img"
        src="./img/advantages/foremen.png"
        alt="foremen"
      />
      <img
        class="adv-people-img"
        src="./img/advantages/hostess.png"
        alt="hostess"
      />
      <img
        class="adv-people-img"
        src="./img/advantages/biznesmen.png"
        alt="biznesmen "
      />
    </div>
  </div>
  <img class="bottom-frame" src="./img/bottom-frame.png" alt="grass" />
</section>
