<footer class="footer">
  <div class="footer-container">
    <div class="google-play">
      <a
        href="https://play.google.com/store/apps/details?id=com.enixan.fluffy.town.farm"
      >
        <img src="./img/home/googlePlay_Mob.png" alt="Get it on Google Play" />
      </a>
    </div>
    <nav class="footer-links">
      <a href="/privacy-policy" class="footer-link">Privacy Policy</a>
      <a href="/terms-and-conditions" class="footer-link">Terms & Conditions</a>
    </nav>
    <p class="footer-text">©2024 MegaPlayFusion.com, All Rights Reserved</p>
    <div class="footer-gradient">
      <div class="google-play-2">
        <a
          href="https://play.google.com/store/apps/details?id=com.enixan.fluffy.town.farm"
        >
          <img src="./img/home/googlePlay_Mob.png" alt="Get it on Google Play" />
        </a>
      </div>
      <p class="footer-description">
        Let the magic of Fluffy Town capture your heart - download now and start
        your adventure!
      </p>
    </div>
  </div>
</footer>
