<section id="gallery" class="gallery-section">
  <div class="gallery-container">
    <img
      class="img-title gallery-img-title"
      src="./img/advantages/mob_title_flag.png"
      alt="title flag"
    />
    <h1 class="gallery-main-title">Gallery</h1>
    <h1 class="gallery-main-title-2">Gallery</h1>
    <div class="gallery-list-wrapper">
      <div class="extra-gallery-wrapper">
      <ul>
        <li class="gallery-li">
          <img src="./img/gallery/gallery-1.png" class="img-gallery" alt="" />
        </li>
        <li class="gallery-li">
          <img src="./img/gallery/gallery-2.png" class="img-gallery" alt="" />
        </li>
        <li class="gallery-li">
          <img src="./img/gallery/gallery-3.png" class="img-gallery" alt="" />
        </li>
        <li class="gallery-li">
          <img src="./img/gallery/gallery-4.png" class="img-gallery" alt="" />
        </li>
        <li class="gallery-li gallery-image-active">
          <img src="./img/gallery/gallery-5.png" class="img-gallery" alt="" />
        </li>
        <li class="gallery-li">
          <img src="./img/gallery/gallery-6.png" class="img-gallery" alt="" />
        </li>
        <li class="gallery-li">
          <img src="./img/gallery/gallery-7.png" class="img-gallery" alt="" />
        </li>
        <li class="gallery-li">
          <img src="./img/gallery/gallery-8.png" class="img-gallery" alt="" />
        </li>
        <li class="gallery-li">
          <img src="./img/gallery/gallery-9.png" class="img-gallery" alt="" />
        </li>
      </ul>
</div>
      <div class="gallery-nav">
      <button class="slider-but prevv">
        <img src="./img/gallery/swiper-left.png" alt="" />
      </button>
      <button class="slider-button-desktop prevv">
        <img src="./img/gallery/swiper-left-desktop.png" alt="" />
      </button>
      <div class="indicatres">
        <span class="indicatorr" data-slide="0"></span>
        <span class="indicatorr" data-slide="1"></span>
        <span class="indicatorr" data-slide="2"></span>
        <span class="indicatorr" data-slide="3"></span>
        <span class="indicatorr gallery-active" data-slide="4"></span>
        <span class="indicatorr" data-slide="5"></span>
        <span class="indicatorr" data-slide="6"></span>
        <span class="indicatorr" data-slide="7"></span>
        <span class="indicatorr" data-slide="8"></span>
      </div>
      <button class="slider-but nextt">
        <img src="./img/gallery/swiper-right.png" alt="" />
      </button>
      <button class="slider-button-desktop nextt">
        <img src="./img/gallery/swiper-right-desktop.png" alt="" />
      </button>
    </div>
  </div>
</section>
<div class="grass-div">
  <img class="privacy-bottom-frame" src="./img/bottom-frame.png" alt="" />
</div>
