<section id="gallery" class="gallery-section">
  <div class="gallery-container">
    <h1 class="gallery-main-title">Gallery</h1>
    <div class="gallery-swiper-mobile">
      <div class="swiper-mobile-container">
        <div class="item-gallery">
          <img src="./img/gallery/gallery-1.png" class="img-gallery" alt="" />
        </div>
        <div class="item-gallery">
          <img src="./img/gallery/gallery-2.png" class="img-gallery" alt="" />
        </div>
        <div class="item-gallery">
          <img src="./img/gallery/gallery-3.png" class="img-gallery" alt="" />
        </div>
        <div class="item-gallery">
          <img src="./img/gallery/gallery-4.png" class="img-gallery" alt="" />
        </div>
        <div class="item-gallery">
          <img src="./img/gallery/gallery-5.png" class="img-gallery" alt="" />
        </div>
        <div class="item-gallery">
          <img src="./img/gallery/gallery-6.png" class="img-gallery" alt="" />
        </div>
        <div class="item-gallery">
          <img src="./img/gallery/gallery-7.png" class="img-gallery" alt="" />
        </div>
        <div class="item-gallery">
          <img src="./img/gallery/gallery-8.png" class="img-gallery" alt="" />
        </div>
        <div class="item-gallery">
          <img src="./img/gallery/gallery-9.png" class="img-gallery" alt="" />
        </div>
      </div>
      <button class="swiper-button-prev">
        <img src="./img/gallery/swiper-left.png" alt="" />
      </button>
      <div class="swiper-pagination">
        <!-- <img
          src="./img/gallery/swiper-bullet-1.png"
          alt=""
          class="custom-bullet"
          data-index="0"
        />
        <img
          src="./img/gallery/swiper-bullet-2.png"
          alt=""
          class="custom-bullet"
          data-index="1"
        />
        <img
          src="./img/gallery/swiper-bullet-3.png"
          alt=""
          class="custom-bullet"
          data-index="2"
        />
        <img
          src="./img/gallery/swiper-bullet-4.png"
          alt=""
          class="custom-bullet"
          data-index="3"
        />
        <img
          src="./img/gallery/swiper-bullet-5.png"
          alt=""
          class="custom-bullet"
          data-index="4"
        />
        <img
          src="./img/gallery/swiper-bullet-6.png"
          alt=""
          class="custom-bullet"
          data-index="5"
        />
        <img
          src="./img/gallery/swiper-bullet-7.png"
          alt=""
          class="custom-bullet"
          data-index="6"
        />
        <img
          src="./img/gallery/swiper-bullet-8.png"
          alt=""
          class="custom-bullet"
          data-index="7"
        />
        <img
          src="./img/gallery/swiper-bullet-9.png"
          alt=""
          class="custom-bullet"
          data-index="8"
        /> -->
      </div>
      <button class="swiper-button-next">
        <img src="./img/gallery/swiper-right.png" alt="" />
      </button>
    </div>
    <div class="gallery-swiper-desktop">
      <!-- <load src="./components/swiper-mobile.html" /> -->
    </div>
  </div>
  <script type="module" src="./js/gallery/gallery.js"></script>
</section>
