<header class="header-block">
  <div class="container">
    <div class="header">
      <a href="./index.html"
        ><img class="logo" src="./public/favicon.png" alt="logo"
      /></a>

      <nav class="desktop-nav">
        <ul class="menu-desktop">
          <li><a href="#about-the-game">About the Game</a></li>
          <li><a href="#advantages">Advantages</a></li>
          <li><a href="#how-to-play">How to Play</a></li>
          <li><a href="#">Why Us</a></li>
          <li><a href="#">User Reviews</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#unique">Our Uniqueness</a></li>
        </ul>
      </nav>

      <button class="open-menu-but">
        <img src="./public/burger-menu.png" alt="menu-icon" />
      </button>
    </div>

    <nav class="mobile-nav hidden">
      <button class="close-menu-but">
        <img src="./img/close-modal.png" alt="" />
      </button>
      <ul class="menu-mobile">
        <li><a href="#about-the-game">About the Game</a></li>
        <li><a href="#advantages">Advantages</a></li>
        <li><a href="#how-to-play">How to Play</a></li>
        <li><a href="#">Why Us</a></li>
        <li><a href="#">User Reviews</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#unique">Our Uniqueness</a></li>
      </ul>
      <img class="cat-img" src="./img/mobile-cat.png" alt="cat" />
    </nav>
  </div>
</header>
