<section class="home">
  <div class="container wrapper">
    <div class="game-title-wrapper">
      <h1 class="game-title">FLUFFY TOWN: BOOM STORY</h1>
    </div>
    <h2 class="home-title">
      Explore, Match, and Build Your Fluffy Dream Town!
    </h2>

    <div class="image-block">
      <img
        class="home-phone-image"
        src="./img/home/gallery-phone-dskt.png"
        alt=""
      />
      <div class="home-wrapper-images">
        <a
          href="https://play.google.com/store/apps/details?id=com.enixan.fluffy.town.farm"
        >
          <img
            class="googlePlay-button"
            src="./img/home/googlePlay_Mob.png"
            alt="googlePlay"
          />
        </a>
        <img
          class="home-image-people"
          src="./img/home/mob_home_people.png"
          alt="home-people"
        />
      </div>
    </div>
  </div>
  <img class="bottom-frame" src="./img/bottom-frame.png" alt="grass" />
</section>
