<section id="how-to-play" class="how-to-play-block">
  <div class="container how-play-wrp">
    <img
      class="img-title"
      src="./img/advantages/mob_title_flag.png"
      alt="title flag"
    />
    <h2 class="section-title">How to Play</h2>

    <div class="how-play-list-wrp">
      <ul class="how-play-list">
        <li class="how-play-item">
          <div class="how-play-item-titel-wrp">
            <h3 class="how-play-item-titel">Match Tiles</h3>
            <p class="how-play-item-text">
              Match three or more tiles to complete objectives and earn rewards.
            </p>
          </div>
          <img
            class="how-play-item-img"
            src="./img/how-to-play/Match-Tiles-mob.png"
            alt="Match Tiles"
          />
        </li>

        <img class="list-arrow" src="./img/arrow.png" alt="arrow" />

        <li class="how-play-item">
          <div class="how-play-item-titel-wrp">
            <h3 class="how-play-item-titel">Use Boosters</h3>
            <p class="how-play-item-text">
              Activate powerful boosters to clear tough levels and progress
              faster.
            </p>
          </div>
          <img
            class="how-play-item-img"
            src="./img/how-to-play/Use-Boosters-mob.png"
            alt="Use Boosters"
          />
        </li>

        <img class="list-arrow" src="./img/arrow.png" alt="arrow" />

        <li class="how-play-item">
          <div class="how-play-item-titel-wrp">
            <h3 class="how-play-item-titel">Complete Quests</h3>
            <p class="how-play-item-text">
              Help fluffy characters by completing quests and restoring their
              town.
            </p>
          </div>
          <img
            class="how-play-item-img"
            src="./img/how-to-play/Complete-Quests-mob.png"
            alt="Complete Quests"
          />
        </li>

        <img class="list-arrow" src="./img/arrow.png" alt="arrow" />

        <li class="how-play-item">
          <div class="how-play-item-titel-wrp">
            <h3 class="how-play-item-titel">Build and Decorate</h3>
            <p class="how-play-item-text">
              Use earned resources to unlock new buildings and customize the
              town.
            </p>
          </div>
          <img
            class="how-play-item-img"
            src="./img/how-to-play/Build-and-Decorate-mob.png"
            alt="Build and Decorate"
          />
        </li>

        <img class="list-arrow" src="./img/arrow.png" alt="arrow" />

        <li class="how-play-item">
          <div class="how-play-item-titel-wrp">
            <h3 class="how-play-item-titel">Discover Secrets</h3>
            <p class="how-play-item-text">
              Explore hidden areas and collect unique items to enhance your
              journey.
            </p>
          </div>
          <img
            class="how-play-item-img"
            src="./img/how-to-play/Discover-Secrets-mob.png"
            alt="Discover Secrets"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
