<section id="unique" class="unique-section">
  <div class="unique-container">
    <h1 class="unique-main-title">Unique Features</h1>
    <div class="unique-cat-and-toys">
      <img
        class="unique-cute-cat"
        src="./img/unique/cute-cat.png"
        alt="cute white cat"
      />
      <img class="unique-yarn" src="./img/unique/ball-of-yarn.png" alt="" />
      <img class="unique-toy" src="./img/unique/cat-toy.png" alt="" />
    </div>
    <ul class="unique-list">
      <li class="unique-list-item">
        <h2 class="unique-title">Innovative Match-3 Mechanics</h2>
        <p class="unique-text">
          Fresh puzzles with evolving challenges and magical twists.
        </p>
        <img class="unique-left-paw" src="./img/unique/left-paw.png" alt="" />
      </li>
      <li class="unique-list-item">
        <h2 class="unique-title">Interactive Characters</h2>
        <p class="unique-text">
          Characters provide hints, share stories, and reward players for
          helping.
        </p>
        <img
          class="unique-right-paw-bottom"
          src="./img/unique/right-paw.png"
          alt=""
        />
      </li>
      <li class="unique-list-item">
        <h2 class="unique-title">Seasonal Themes</h2>
        <p class="unique-text">
          Exclusive seasonal decorations and quests keep the game exciting
          year-round.
        </p>
        <img class="unique-left-paw" src="./img/unique/left-paw.png" alt="" />
      </li>
      <li class="unique-list-item">
        <img
          class="unique-right-paw-top"
          src="./img/unique/right-paw.png"
          alt=""
        />
        <h2 class="unique-title">Offline Mode</h2>
        <p class="unique-text">
          Enjoy the game anytime, anywhere without an internet connection.
        </p>
      </li>
    </ul>
  </div>
</section>
<div class="grass-div">
  <img
    class="unique-people-trees"
    src="./img/unique/cat-people-trees.png"
    alt=""
  />
</div>
<div class="grass-div">
  <img class="privacy-bottom-frame" src="./img/bottom-frame.png" alt="" />
</div>
