<section id="reviews" class="reviews-section">
  <div class="bubble-star">
    <img class="left-star" src="./img/unique/left-star.png" alt="" />
    <img class="small-bubble-1" src="./img/unique/bubble.png" alt="" />
    <img class="big-bubble-1" src="./img/unique/bubble.png" alt="" />
    <img class="right-star" src="./img/unique/right-star.png" alt="" />
    <img class="small-bubble-2" src="./img/unique/bubble.png" alt="" />
    <img class="big-bubble-2" src="./img/unique/bubble.png" alt="" />
  </div>
  <div class="reviews-container">
    <h1 class="reviews-main-title">User Reviews</h1>
    <ul class="reviews-list">
      <li class="reviews-li rev-1">
        <img
          class="reviews-image"
          src="./img/user-reviews/review-1.png"
          alt=""
        />
        <div>
          <h2 class="reviews-title">AdventureFan88</h2>
          <p class="reviews-text">
            The storyline keeps me hooked, and the graphics are absolutely
            amazing.
          </p>
        </div>
      </li>
      <li class="reviews-li rev-2">
        <img
          class="reviews-image"
          src="./img/user-reviews/review-2.png"
          alt=""
        />
        <div>
          <h2 class="reviews-title">CasualGamer89</h2>
          <p class="reviews-text">
            A great game to unwind with after a busy day. Love it!
          </p>
        </div>
      </li>
      <li class="reviews-li rev-3">
        <img
          class="reviews-image"
          src="./img/user-reviews/review-3.png"
          alt=""
        />
        <div>
          <h2 class="reviews-title">FluffLover99</h2>
          <p class="reviews-text">
            The cutest game I've ever played! The puzzles are fun, and the
            town-building is so satisfying.
          </p>
        </div>
      </li>
      <li class="reviews-li rev-4">
        <img
          class="reviews-image"
          src="./img/user-reviews/review-4.png"
          alt=""
        />
        <div>
          <h2 class="reviews-title">PuzzlePro23</h2>
          <p class="reviews-text">
            A perfect balance of challenge and relaxation. The characters are
            adorable!
          </p>
        </div>
      </li>
      <li class="reviews-li rev-5">
        <img
          class="reviews-image"
          src="./img/user-reviews/review-5.png"
          alt=""
        />
        <div>
          <h2 class="reviews-title">MagicBuilder</h2>
          <p class="reviews-text">
            I love customizing my fluffy town and unlocking new areas. Highly
            recommend!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
<div class="reviews-cat-div">
  <img class="reviews-cat" src="./img/user-reviews/cat-hearts.png" alt="" />
</div>
<div class="grass-div">
  <img class="privacy-bottom-frame" src="./img/bottom-frame.png" alt="" />
</div>
