<section id="why-us" class="why-us">
  <div class="why-us-container">
    <h1 class="why-us-main-title">Why You'll Love This Game</h1>
    <h1 class="why-us-main-title-2">Why Us</h1>
    <ul class="why-us-list">
      <li class="why-us-li why-us-li-1">
        <img
          class="why-us-image blue-star"
          src="img/why-us/blue-star.png"
          alt=""
        />
        <p class="why-us-text">
          Perfect mix of puzzle-solving and town-building
        </p>
      </li>
      <li class="why-us-li why-us-li-2">
        <img
          class="why-us-image gift-box"
          src="img/why-us/gift-box.png"
          alt=""
        />
        <p class="why-us-text">
          Regular updates <br />
          with new levels, events, and seasonal surprises
        </p>
      </li>
      <li class="why-us-li why-us-li-3">
        <img
          class="why-us-image why-us-paw"
          src="img/why-us/why-us-paw.png"
          alt=""
        />
        <p class="why-us-text">
          Adorable visuals and animations that captivate players of all ages
        </p>
      </li>
      <li class="why-us-li why-us-li-4">
        <img class="why-us-image key" src="img/why-us/key.png" alt="" />
        <p class="why-us-text why-us-text-4">
          Relaxing yet challenging gameplay to suit both casual and dedicated
          gamers
        </p>
      </li>
      <li class="why-us-li why-us-li-5">
        <img
          class="why-us-image flower-pot"
          src="img/why-us/flower-pot.png"
          alt=""
        />
        <p class="why-us-text">
          A feel-good story that emphasizes community, friendship, and
          creativity
        </p>
      </li>
    </ul>
  </div>
</section>
<div class="why-us-girls">
  <img class="mic-girl" src="img/why-us/mic-girl.png" alt="" />
  <img class="cat-girl" src="img/why-us/cat-girl.png" alt="" />
</div>
<div class="grass-div">
  <img class="privacy-bottom-frame" src="img/bottom-frame.png" alt="" />
</div>
