.gallery-section {
  background: radial-gradient(
    53% 53% at 50% 47%,
    rgb(255, 245, 219),
    rgb(209, 185, 148) 77.5%,
    rgb(190, 162, 118) 100%
  );
  padding: 0 16px 40px;
}

.gallery-container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-main-title {
  font-family: var(--lilita);
  font-size: 22px;
  color: rgba(250, 250, 250, 1);
  text-shadow: 1px 2px 4px 0px rgba(42, 125, 180, 1);
  position: absolute;
  transform: translateY(66px);
  z-index: 2;
}

.gallery-main-title-2 {
  display: none;
}

.gallery-list-wrapper {
  margin-top: 144px;
  width: 288px;
  overflow: hidden;
  margin-bottom: 0;
}

.gallery-list-wrapper ul {
  display: flex;
  transition: transform 0.3s ease-in-out;
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery-list-wrapper li {
  min-width: 100%;
  box-sizing: border-box;
}

.gallery-nav {
  display: flex;
  align-items: center;
  margin-top: 23px;
}

.slider-but {
  width: 38px;
  padding-top: 3px;
}

.slider-button-desktop {
  display: none;
}

.prevv {
  margin-right: 12px;
}

.indicatres {
  display: flex;
  align-items: center;
  gap: 4px;
}

.indicatorr {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgb(72, 162, 219) 52%,
    rgb(34, 122, 194) 100%
  );
}

.gallery-active {
  width: 30px;
  height: 30px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(109, 201, 243) 8%,
    rgb(72, 162, 219) 52%,
    rgb(34, 122, 194) 100%
  );
}

.nextt {
  margin-left: 12px;
}

/* Desktop Styles */
@media screen and (min-width: 1200px) {
  .gallery-section {
    padding: 86px 0;
  }

  .gallery-container {
    max-width: 1200px;
    overflow: hidden;
  }

  .gallery-img-title {
    display: none;
  }

  .gallery-main-title {
    display: none;
  }

  .gallery-main-title-2 {
    display: inline-block;
    color: rgb(250, 250, 250);
    font-family: Lilita One;
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
    text-shadow: 1px 2px 4px rgb(42, 125, 180);
    background-image: url('../img/title-flag.png');
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position: center;
    padding: 36px 257px 48px;
    width: 125px;
  }

  .gallery-list-wrapper {
    width: 676px;
    margin-top: 67px;
    overflow: visible;
  }

  .gallery-list-wrapper ul {
    transition: transform 0.3s ease-out;
  }

  .gallery-image-active {
    margin-left: 40px;
    margin-right: 40px;
  }

  .img-gallery {
    width: 676px;
  }

  .gallery-nav {
    margin-top: 56px;
    justify-content: center;
  }

  .slider-but {
    display: none;
  }

  .slider-button-desktop {
    display: block;
    width: 93px;
    padding-top: 3px;
  }

  .prevv {
    margin-right: 24px;
  }

  .indicatres {
    gap: 24px;
  }

  .indicatorr {
    width: 24px;
    height: 24px;
  }

  .gallery-active {
    width: 64px;
    height: 64px;
  }

  .nextt {
    margin-left: 24px;
  }
}
