.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/home/bg_mob.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game-title {
  font-family: var(--lilita);
  font-size: 32px;
  text-align: center;
  padding: 8px;
  background: linear-gradient(
    to right,
    rgba(68, 169, 229, 1) 0%,
    rgba(59, 132, 182, 1) 25%,
    rgba(49, 118, 229, 1) 50%,
    rgba(59, 132, 182, 1) 75%,
    rgba(68, 169, 229, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: rgba(68, 169, 229, 1);
  text-shadow: 0 2px 0 rgba(47, 103, 188, 0.6),
    0 2px 2px rgba(250, 250, 250, 0.41);
  -webkit-text-stroke: 0.5px rgba(34, 122, 194, 1);
}

.game-title-wrapper {
  width: 288px;
  height: 112px;
  margin-top: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: linear-gradient(
    to bottom,
    rgba(247, 241, 232, 1),
    rgba(231, 213, 205, 1)
  );
  box-shadow: 0 4px 4px 1px rgb(191, 165, 162),
    inset 0 2px 4px 4px rgba(191, 165, 162, 0.25),
    inset -2px 0 14px 0 rgba(191, 165, 162, 0.25);
}

.home-title {
  width: 288px;
  font-family: var(--lilita);
  font-size: 22px;
  color: rgba(42, 109, 173, 1);
  text-align: center;
  margin-top: 32px;
}

.googlePlay-button {
  margin-top: 16px;
  text-align: center;
}

.home-image-people {
  height: 195px;
}

.home {
  position: relative;
  background: linear-gradient(
    to bottom,
    rgba(207, 223, 249, 1),
    rgba(79, 130, 211, 1)
  );
}

.home-wrapper-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-phone-image {
  display: none;
}

@media screen and (min-width: 1200px) {
  .game-title-wrapper {
    width: 746px;
    height: 84px;
    margin-top: 76px;
  }

  .game-title {
    font-size: 52px;
    line-height: 1.15;
    padding: 10px 21px;
  }

  .home-phone-image {
    display: inline;
    height: 400px;
    margin-top: auto;
    transform: translateX(-80px) translateY(-10px);
  }

  .image-block {
    width: 100%;
    display: flex;
    position: relative;
  }

  .googlePlay-button {
    width: 195px;
    height: 60px;
  }

  .home-wrapper-images {
    margin-left: auto;
    right: 0;
  }

  .home-image-people {
    height: 411px;
    width: 621xp;
  }

  .home-title {
    width: 746px;
    margin-top: 40px;
  }
}
