.how-to-play-block {
  /* background: linear-gradient(
    to bottom,
    rgba(134, 143, 237, 1),
    rgba(105, 188, 255, 1)
  ); */
  background: linear-gradient(
    180deg,
    rgb(207, 223, 249),
    rgb(79, 130, 211) 31.072%
  );
}

.how-play-wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.img-title {
  position: absolute;
}

.how-play-list-wrp {
  margin-top: 78px;
  padding: 0 12px;
  width: 288px;
  background-color: rgba(255, 245, 219, 1);
  /* box-shadow: 0px -2.39px 15.92px 0px rgba(180, 147, 95, 0.7) inset;
  box-shadow: 0px 0.8px 15.92px 0px rgba(180, 147, 95, 0.7) inset; */
  box-shadow: inset 0px -2.39px 15.92px 0px rgba(180, 147, 95, 0.7),
    inset 0px 0.8px 15.92px 0px rgba(180, 147, 95, 0.7);
  border-radius: 24px;
}

.how-play-list {
  margin-top: 68px;
  display: flex;
  gap: 67px;
  flex-direction: column;
  margin-bottom: 24px;
}

.how-play-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.how-play-item-titel-wrp {
  background-color: rgba(243, 226, 198, 1);
  box-shadow: 0px 2px 4px 0px rgba(167, 122, 52, 0.5) inset;
  box-shadow: 0px -8px 14px 0px rgba(139, 99, 36, 0.7) inset;
  padding: 12px 18px;
  border-radius: 16px;
  width: 230px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.how-play-item-titel {
  font-family: var(--lilita);
  font-size: 18px;
  color: rgba(80, 52, 9, 1);
  margin-bottom: 8px;
  font-weight: 400;
  letter-spacing: 0;
}

.how-play-item-text {
  font-family: var(--lexend);
  font-size: 16px;
  color: rgba(80, 52, 9, 1);
}

.how-play-item-img {
  width: 100%;
  border-radius: 16px;
  position: relative;
  margin-top: 100px;
}

.list-arrow {
  width: 65px;
  height: 66px;
  position: absolute;
  z-index: 100;
  top: 310px;
}

.how-play-item:last-child .list-arrow {
  display: none;
}

.how-lay-frame {
  position: static;
}

@media screen and (min-width: 1200px) {
  .how-to-play-block {
    background: linear-gradient(
      180deg,
      rgb(207, 223, 249),
      rgb(79, 130, 211) 82.294%
    );
  }

  .how-play-list-wrp {
    margin-top: 146px;
    margin-bottom: 86px;
    padding: 0 65px;
    width: 910px;
    border-radius: 80px;
    box-shadow: inset 0px -6px 40px 0px rgba(180, 147, 95, 0.7),
      inset 0px 2px 40px 0px rgba(180, 147, 95, 0.7);
  }

  .how-play-title {
    transform: translateY(116px);
  }

  .how-play-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .how-play-item-img {
    width: 500px;
    height: 250px;
    border-radius: 32px;
    position: static;
    margin-left: auto;
    margin-top: 0;
  }

  .how-play-list {
    margin-top: 130px;
  }

  .how-play-item-titel-wrp {
    padding: 20px 22px;
    border-radius: 24px;
    width: 282px;
    left: 0;
    transform: none;
    z-index: 1;
  }
  .how-play-item-titel {
    font-size: 24px;
  }

  .how-play-item-text {
    font-size: 18px;
    margin-right: 33px;
  }

  .list-arrow {
    width: 180px;
    top: 105px;
    left: 240px;
    height: 100px;
    transform: rotate(220deg);
  }

  .how-play-item:last-child .list-arrow {
    display: block;
  }

  .how-play-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  .how-play-item:nth-child(even) .list-arrow {
    left: auto;
    right: 240px;
    top: 105px;
    transform: scaleY(-1) rotate(35deg);
  }

  .how-play-item:nth-child(even) .how-play-item-titel-wrp {
    left: auto;
    right: 0;
    text-align: right;
  }

  .how-play-item:nth-child(even) .how-play-item-text {
    margin-right: 0;
  }

  .how-play-item:nth-child(even) .how-play-item-img {
    order: -1;
    margin-right: auto;
    margin-left: 0;
  }
}
