.reviews-section {
  background: linear-gradient(
    180deg,
    rgb(207, 223, 249),
    rgb(79, 130, 211) 65.888%
  );
  padding: 80px 16px 48px;
}

.reviews-container {
  max-width: 288px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  box-shadow: inset 0px -2.39px 15.92px 0px rgba(180, 147, 95, 0.7),
    inset 0px 0.8px 15.92px 0px rgba(180, 147, 95, 0.7);
  background: rgb(255, 245, 219);
  padding: 0 26px 227px;
  box-sizing: border-box;
}

.reviews-main-title {
  color: rgb(250, 250, 250);
  font-family: Lilita One;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  text-shadow: 1px 2px 4px rgb(42, 125, 180);
  background-image: url('../img/title-flag.png');
  background-repeat: no-repeat;
  background-size: 95% 90%;
  background-position: center;
  padding: 10px 81px 13px;
  width: 126px;
  white-space: nowrap;
  position: absolute;
  transform: translateY(-45%);
  margin-bottom: 0;
}

.swiper-user-reviews {
  width: 236px;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews-list {
  display: flex;
  transition: transform 0.3s ease-in-out;
  margin-top: 40px;
  margin-bottom: 0;
  flex-direction: row;
}

.no-reviews-swiper {
  display: none;
}

.reviews-li {
  max-width: 227px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.rev-1 {
  background-image: url('../img/user-reviews/review-1-pic.png');
  background-repeat: no-repeat;
  background-size: 98% 90%;
  background-position: center;
  padding: 28px 15px 16px 21px;
}

.rev-2 {
  background-image: url('../img/user-reviews/review-1-pic.png');
  background-repeat: no-repeat;
  background-size: 98% 90%;
  background-position: center;
  padding: 36px 23px 21px 25px;
}

.rev-3 {
  background-image: url('../img/user-reviews/review-3-pic.png');
  background-repeat: no-repeat;
  background-size: 98% 90%;
  background-position: center;
  padding: 14px 12px 30px 12px;
}

.rev-4 {
  background-image: url('../img/user-reviews/review-4-pic.png');
  background-repeat: no-repeat;
  background-size: 98% 90%;
  background-position: center;
  padding: 18px 0 28px 17px;
}

.rev-5 {
  background-image: url('../img/user-reviews/review-5-pic.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding: 22px 19px 12px 20px;
}

.reviews-image {
  width: 36px;
}

.reviews-title {
  color: rgb(80, 52, 9);
  font-family: Lexend;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 4px;
}

.reviews-text {
  color: rgb(80, 52, 9);
  font-family: Lexend;
  font-size: 10.5px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 0;
  letter-spacing: -0.01em;
}

.rev-1 h2,
.rev-2 h2 {
  font-size: 14px;
  letter-spacing: -0.01em;
}

.rev-1 p {
  width: 126px;
}

.reviews-cat-div {
  position: relative;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.reviews-no-hearts {
  display: none;
}

.reviews-cat {
  width: 237px;
  height: 200px;
  position: absolute;
  top: -260px;
  left: 1px;
  z-index: 1;
}

/* Desktop Styles */
@media screen and (min-width: 1200px) {
  .reviews-left-star {
    top: -21px;
  }

  .reviews-sb-1 {
    top: -46px;
  }

  .reviews-bb-1 {
    top: -40px;
  }

  .reviews-right-star {
    top: -39px;
  }

  .reviews-sb-2 {
    top: -54px;
  }

  .reviews-bb-2 {
    top: -36px;
  }

  .reviews-section {
    background: linear-gradient(
      180deg,
      rgb(207, 223, 249),
      rgb(79, 130, 211) 82.294%
    );
    padding: 86px 80px;
  }

  .reviews-container {
    max-width: 1040px;
    border-radius: 80px;
    box-shadow: inset 0px -6px 40px 0px rgba(180, 147, 95, 0.7),
      inset 0px 2px 40px 0px rgba(180, 147, 95, 0.7);
    height: 632px;
  }

  .reviews-main-title {
    font-size: 40px;
    background-size: 95% 90%;
    padding: 36px 205px 48px 206px;
    width: 229px;
    transform: translateY(-43%);
  }

  .visible-reviews-swiper {
    display: none;
  }

  .no-reviews-swiper {
    display: block;
  }

  .reviews-list {
    margin-top: 32px;
    width: 1040px;
    display: block;
    position: relative;
  }

  .reviews-li {
    max-width: 325px;
    gap: 16px;
    box-sizing: border-box;
  }

  .rev-1,
  .rev-2,
  .rev-3,
  .rev-4,
  .rev-5 {
    background-size: 100% 95%;
  }

  .rev-1 {
    padding: 52px 30px 52px 30px;
    position: absolute;
    top: 278px;
    left: 698px;
  }

  .rev-1 p {
    width: 178px;
  }

  .rev-2 {
    padding: 52px 33px 52px 30px;
    position: absolute;
    top: 371px;
    left: 364px;
  }

  .rev-1 h2,
  .rev-2 h2 {
    font-size: 18px;
    letter-spacing: 0;
  }

  .rev-3 {
    padding: 32px 43px 51px 30px;
    position: absolute;
    top: 68px;
    left: 76px;
  }

  .rev-4 {
    padding: 32px 26px 51px 35px;
    position: absolute;
    top: 68px;
    left: 635px;
  }

  .rev-5 {
    padding: 51px 33px 32px 31px;
    position: absolute;
    top: 278px;
    left: 17px;
  }

  .reviews-image {
    width: 66px;
  }

  .reviews-title {
    font-size: 18px;
  }

  .reviews-text {
    font-size: 14px;
    max-width: 183px;
  }

  .rev-3 p,
  .rev-5 p {
    font-size: 13.6px;
  }

  .reviews-hearts {
    display: none;
  }

  .reviews-no-hearts {
    max-width: 315px;
    display: flex;
    justify-content: center;
  }

  .reviews-cat {
    width: 313px;
    height: 265px;
    top: -576px;
  }
}
