.unique-section {
  background: linear-gradient(
    180deg,
    rgb(207, 223, 249),
    rgb(79, 130, 211) 47.796%
  );
  text-align: center;
  padding: 56px 16px 132px;
}

.unique-container {
  max-width: 288px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  box-shadow: inset 0px -2.39px 15.92px 0px rgba(180, 147, 95, 0.7),
    inset 0px 0.8px 15.92px 0px rgba(180, 147, 95, 0.7);
  background: rgb(255, 245, 219);
  padding: 0 22px 20px;
  box-sizing: border-box;
}

.unique-main-title {
  color: rgb(250, 250, 250);
  font-family: Lilita One;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  text-shadow: 1px 2px 4px rgb(42, 125, 180);
  background-image: url('../img/title-flag.png');
  background-repeat: no-repeat;
  background-size: 95% 90%;
  background-position: center;
  padding: 10px 68px 13px;
  width: 152px;
  white-space: nowrap;
  position: absolute;
  transform: translateY(-45%);
}

.unique-main-title-2 {
  display: none;
}

.unique-cat-and-toys {
  position: relative;
  width: 244px;
  height: 53px;
  margin-top: 30px;
}

.unique-cute-cat {
  width: 3.25rem;
  position: absolute;
  transform: translateX(23%);
  z-index: 1;
}

.unique-yarn {
  width: 1.5rem;
  position: absolute;
  transform: translate(325%, 130%);
  z-index: 1;
}

.unique-bowl {
  display: none;
}

.unique-toy {
  width: 2.63rem;
  position: absolute;
  transform: translate(460%, 7%);
  z-index: 1;
}

.unique-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.unique-list-item {
  border-radius: 24px;
  box-shadow: inset 0px 2px 4px 0px rgba(167, 122, 52, 0.5),
    inset 0px -8px 14px 0px rgba(139, 99, 36, 0.7);
  background: rgb(243, 226, 198);
  position: relative;
}

.unique-list-item:nth-child(odd) {
  padding: 7px 24px;
}

.unique-list-item:nth-child(even) {
  padding: 19px 17px;
}

.unique-title {
  color: rgb(80, 52, 9);
  font-family: Lilita One;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  margin-bottom: 8px;
}

.unique-text {
  color: rgb(80, 52, 9);
  font-family: Lexend;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  margin-top: 0;
}

.unique-left-paw {
  width: 3.75rem;
  position: absolute;
  transform: translate(-75%, -55%);
  z-index: 1;
}

.unique-right-paw-bottom {
  width: 3.75rem;
  position: absolute;
  transform: translate(290%, -35%);
  z-index: 1;
}

.unique-right-paw-top {
  width: 3.75rem;
  position: absolute;
  transform: translate(302%, -58%);
  z-index: 1;
}

.unique-people-trees {
  width: 20rem;
  position: absolute;
  transform: translate(0, -107%);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.unique-people-trees-desktop {
  display: none;
}

/* Desktop Styles */
@media screen and (min-width: 1200px) {
  .unique-section {
    background: linear-gradient(
      180deg,
      rgb(207, 223, 249),
      rgb(79, 130, 211) 82.294%
    );
    padding: 142px 80px 268px;
  }

  .unique-container {
    max-width: 1040px;
    border-radius: 80px;
    box-shadow: inset 0px -6px 40px 0px rgba(180, 147, 95, 0.7),
      inset 0px 2px 40px 0px rgba(180, 147, 95, 0.7);
    padding: 6px 56px 56px;
  }

  .unique-main-title {
    display: none;
  }

  .unique-main-title-2 {
    display: inline-block;
    color: rgb(250, 250, 250);
    font-family: Lilita One;
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
    text-shadow: 1px 2px 4px rgb(42, 125, 180);
    background-image: url('../img/title-flag.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 36px 171px 48px;
    width: 271px;
    white-space: nowrap;
    position: absolute;
    transform: translateY(-45%);
  }

  .unique-cat-and-toys {
    width: 928px;
    height: 96px;
    margin-top: 0;
  }

  .unique-cute-cat {
    width: 69px;
    position: absolute;
    top: 50px;
    left: 15px;
    z-index: 1;
  }

  .unique-yarn {
    width: 34px;
    position: absolute;
    top: 50px;
    left: 13px;
    z-index: 1;
  }

  .unique-bowl {
    display: block;
    width: 44px;
    position: absolute;
    top: 105px;
    left: 750px;
    z-index: 1;
  }

  .unique-toy {
    width: 96px;
    position: absolute;
    top: -3px;
    left: 369px;
    z-index: 1;
  }

  .unique-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 62px;
    margin-top: 26px;
  }

  .unique-list-item {
    flex: 0 0 calc(50% - 72px);
    padding: 24px;
  }

  .unique-title {
    font-size: 24px;
  }

  .unique-text {
    font-size: 18px;
  }

  .unique-left-paw {
    width: 80px;
    position: absolute;
    top: 2px;
    left: 445px;
    z-index: 1;
  }

  .unique-right-paw-bottom {
    width: 80px;
    position: absolute;
    top: 102px;
    left: -275px;
    z-index: 1;
  }

  .unique-right-paw-top {
    width: 80px;
    position: absolute;
    top: 135px;
    left: -284px;
    z-index: 1;
  }

  .unique-people-trees {
    display: none;
  }

  .unique-people-trees-desktop {
    display: block;
    width: 60rem;
    transform: translate(0, -108%);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
}
